<header class="header">
  <h1>Bubbles</h1>
</header>

<main>
  <section class="row">
    {{#each viewData}}
    <a class="userLink" href="/user/{{id}}">
      <div class="userCard">
        <img src="images/{{img}}" alt="user image">
        <h3>{{name}}</h3>
        <p>{{city}}</p>
      </div>
    </a>
    {{/each}}
  </section>
</main>

<div class="divbtn">
  <a href='/registration'>
    <button class="btn">Create User</button>
  </a>
</div>


