<form action="/registration" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">

  <label for="city">City</label>
  <input type="text" name="city" id="city">

  <input type="hidden" name="img" value="user6.jpg">

  <button>Submit</button>
</form>