html, body {
  height: 100%;
}

* {
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #252525;
  list-style: none;
}

.container {
  width: 75%;
  margin: auto;
}

.whiteBtn {
  /* background-color: #007bff; */
  border: solid #252525 2px ;
  padding: 9px 14px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  text-align:center;
}

a.userLink {
  width: 33.3%;
}

.userCard > img {
  width: 100%;
  height: auto;
}

.userCard > h3 {
  margin: 3% auto ;
}

.userCard > p {
  margin: 0;
}

/* profile page */
.userProfile {
  display: flex;
}

.userProfile > img{
  width: 55%; 
}

.profileTitle > h1 {
  margin-bottom: 1%;
}

.bio {
  padding-left: 2.5%;
  justify-self: center;
}

.bio > header > h1 {
  font-size: 70px;
  margin: 1%;
  text-transform: uppercase;
}

.bio > header > h2 {
  padding-left: 8px;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 2.5%;
  text-transform: uppercase;
}

.bio ul li > p{
  font-size: 20px;
  padding-left: 8px;

}

.bio button {
  padding-left: 8px;
}

/* 
  playlist page
*/

.songTitle p {
  font-size: 30px;
  margin: 1% 0;
}